#carousel, .carousel {
	height : 100%;
}

/* CAROUSEL HEADER */
.carousel > .header {
	height          : 114px;
	background      : url( '../images/header-bg.png' );
	background-size : auto 100%;
	text-align      : center;
}

.header > .honda-logo, .header > .kidzania-logo {
	height  : 90%;
	padding : 22px 60px;
}

.honda-logo > img {
	height : 60px;
}

.header > .header-title {
	font-size   : 40px;
	color       : #ffffff;
	padding-top : 16px;
}

/* CAROUSEL FOOTER */
.carousel > .footer {
	height           : 87px;
	background       : url( '../images/footer-bg.png' );
	background-size  : auto 100%;
}

.footer > .btn-select-car {
	width           : 320px;
	height          : 100%;
	background      : url( '../images/button-bg.png' );
	background-size : auto 100%;
	z-index         : 10;
	border-left     : 2px solid #006400;
	text-align      : center;
	cursor          : pointer;
}

.btn-select-car > p {
	padding-top : 20px;
	font-size   : 32px;
	color       : #404040;
}

.btn-select-car > p:hover {
	color : #800000;
}

/* MAIN CAROUSEL */
.carousel > .carousel-body {
	height : -moz-calc( 100% - 201px );
    height : -webkit-calc( 100% - 201px );
    height : calc( 100% - 201px );
	background-color : #ffcc00;
	background       : url( '../images/backgrounds/garage-bg-lg.jpg' );
	background-size  : 100% auto;
}

.carousel-info {
	color       : #000000;
	text-shadow : none;
	position    : relative;
	top         : 80px ;
	left        : 150px;
	width       : 400px;
	height      : 500px;
	text-align  : left;
}

.carousel-info > .car-details {
	width    : 100%;
	position : relative;
	top      : 100px;
}

.carousel-img {
	position : relative;
	top      : 220px;
	right    : 250px;
	width    : 500px;
	height   : 300px;
}

.carousel-img > img {
	width  : auto;
	height : auto;
}

.carousel-control {
	width : 10%;
}

.carousel-control > img {
	height   : 50px;
	position : relative;
	top      : 225px;
}
