.race-car-img img[ src="" ] {
   display: none;
}
.race-car1-custom {
    position : absolute;
}

.car-congrats-custom {
    position : absolute;
}

.car-congrats-body {
    width : 900px
}

.race-rim-animate {
    -webkit-animation  : rotating .1s linear infinite;
    -moz-animation     : rotating .1s linear infinite;
    animation          : rotating .1s linear infinite;
    transition         : 5s all;
    -webkit-transition : 5s all;
    -moz-transition    : 5s all;

}

/* FOR CRV */

.race-tint-crv {
    width    : 250px;
    top      : 0;
    left     : 1px;
}

.race-skirt-crv {
   width    : 250px;
    top      : 0;
    left     : 1px;
}

.race-spoiler-crv {
    width    : 250px;
    top      : 12px;
    left     : 2px;
}

.race-rim-back-crv {
    width    : 31px;
    top      : 75px;
    left     : 37px;
}
.race-rim-front-crv {
   width    : 31px;
   top      : 73px;
   left     : 189px;
}

.race-decal-crv-1 {
    width : 250px;
    top   : 0;
    left  : -1px;
    z-index : 1;
}

.race-decal-crv-2 {
    width : 250px;
    top   : 0;
    left  : -1px;
    z-index : 1;
}

.race-decal-crv-3 {
    width : 250px;
    top   : 0;
    left  : -1px;
    z-index : 1;
}

.car-congrats-tint-crv {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 0;
    left      : 1px;
}

.car-congrats-skirt-crv {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 0;
    z-index   : 10;
}

.car-congrats-spoiler-crv {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 45px;
    left      : 9px;
}

.car-congrats-rim-back-crv {
    width : 123px;
    top   : 269px;
    left  : 129px;
}

.car-congrats-rim-front-crv {
    width : 123px;
    top   : 263px;
    left  : 678px;
}

.car-congrats-decal-crv-1 {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 0;
    z-index   : 1;
}

.car-congrats-decal-crv-2 {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 8px;
    left      : 1px;
    z-index   : 1;
}

.car-congrats-decal-crv-3 {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 0;
    z-index   : 1;
}


/* FOR CITY */

.race-tint-city {
    width    : 250px;
    top      : 9px;
    left     : 0;
}

.race-skirt-city {
    width   : 250px;
    top     : 6px;
    left    : 0;
    z-index : 10;
}

.race-spoiler-city {
   width : 250px;
   top   : 9px;
   left  : 0;
}

.race-rim-back-city {
   width    : 29px;
   top      : 64px;
   left     : 35px;
}
.race-rim-front-city {
    width    : 29px;
    top      : 65px;
    left     : 189px;
}

.race-decal-city-1 {
    width   : 250px;
    top     : 8px;
    left    : 1px;
    z-index : 1;
}

.race-decal-city-2 {
    width   : 245px;
    top     : 9px;
    left    : 3px;
    z-index : 1;
}

.race-decal-city-3 {
    width   : 250px;
    top     : 9px;
    left    : -1px;
    z-index : 1;
}

.car-congrats-tint-city {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 36px;
    left      : -3px;
}

.car-congrats-skirt-city {
    width     : 888px !important;
    max-width : 900px !important;
    top       : 31px;
    left      : 6px;
    z-index   : 10;
}

.car-congrats-spoiler-city {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 38px;
    left      : 0;
}

.car-congrats-rim-back-city {
    width : 110px;
    top   : 230px;
    left  : 122px;
}

.car-congrats-rim-front-city {
    width : 110px;
    top   : 233px;
    left  : 674px;
}

.car-congrats-decal-city-1 {
    width     : 891px !important;
    max-width : 900px !important;
    top       : 33px;
    left      : 7px;
    z-index   : 1;
}

.car-congrats-decal-city-2 {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 34px;
    left      : 7px;
    z-index   : 1;
}

.car-congrats-decal-city-3 {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 35px;
    left      : 3px;
    z-index   : 1;
}

/* FOR jazz */

.race-tint-jazz {
    width    : 250px;
    top      : 4px;
    left     : 0;
}

.race-skirt-jazz {
   width   : 250px;
   top     : 5px;
   z-index : 10;
}

.race-spoiler-jazz {
    width : 250px;
    top   : 6px;
    left  : 0;
}

.race-rim-back-jazz {
    width : 33px;
    top   : 78px;
    left  : 21px;
}
.race-rim-front-jazz {
    width : 33px;
    top   : 80px;
    left  : 189px;
}

.race-decal-jazz-1 {
    width   : 250px;
    top     : 5px;
    left    : 0;
    z-index : 1;
}

.race-decal-jazz-2 {
    width   : 250px;
    top     : 5px;
    left    : 0;
    z-index : 1;
}

.race-decal-jazz-3 {
    width   : 250px;
    top     : 1px;
    left    : 0;
    z-index : 1;
}

.car-congrats-tint-jazz {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 20px;
    left      : 0;
}

.car-congrats-skirt-jazz {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 14px;
    left      : 0;
    z-index   : 10;
}

.car-congrats-spoiler-jazz {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 18px;
    left      : 2px;
}

.car-congrats-rim-back-jazz {
    width : 120px;
    top   : 278px;
    left  : 75px;
}

.car-congrats-rim-front-jazz {
    width : 120px;
    top   : 287px;
    left  : 683px;
}

.car-congrats-decal-jazz-1 {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 19px;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-jazz-2 {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 19px;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-jazz-3 {
    width     : 900px !important;
    max-width : 900px !important;
    top       : 14px;
    left      : 0;
    z-index   : 1;
}
