
/* FOR CRV */
.car-congrats-body-crv {
	width     : 700px !important;
	max-width : 700px !important;
}

.car-congrats-tint-crv {
    width     : 700px !important;
    max-width : 700px !important;
    top       : 0;
    left      : 1px;
}

.car-congrats-skirt-crv {
    width     : 700px !important;
    max-width : 700px !important;
    top       : 0;
    left      : 0;
    z-index   : 10;
}

.car-congrats-spoiler-crv {
    width     : 700px !important;
    max-width : 700px !important;
    top       : -2px;
    left      : 1px;
}

.car-congrats-rim-back-crv {
    width : 80px;
    top   : 208px;
    left  : 128px;
}

.car-congrats-rim-front-crv {
    width : 80px;
    top   : 205px;
    left  : 511px;
}

.car-congrats-decal-crv-1 {
    width     : 700px !important;
    max-width : 700px !important;
    top       : 0;
    z-index   : 1;
}

.car-congrats-decal-crv-2 {
    width     : 700px !important;
    max-width : 700px !important;
    top       : 1px;
    left      : -5px;
    z-index   : 1;
}

.car-congrats-decal-crv-3 {
    width     : 700px !important;
    max-width : 700px !important;
    top       : 2px;
    left      : 2px;
    z-index   : 1;
}

.car-congrats-decal-crv-4 {
    width     : 700px !important;
    max-width : 700px !important;
    top       : 3px;
    left      : -1px;
    z-index   : 1;
}

.car-congrats-decal-crv-5 {
    width     : 700px !important;
    max-width : 700px !important;
    top       : -1px;
    left      : 1px;
    z-index   : 1;
}

/* FOR CITY */

.car-congrats-body-city {
	width     : 850px !important;
	max-width : 850px !important;
}

.car-congrats-tint-city {
    width     : 850px !important;
    max-width : 850px !important;
    top       : -2px;
    left      : 4px;
}

.car-congrats-skirt-city {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 5px;
    z-index   : 10;
}

.car-congrats-spoiler-city {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 4px;
    left      : 0;
}

.car-congrats-rim-back-city {
    width : 74px;
    top   : 211px;
    left  : 195px;
}

.car-congrats-rim-front-city {
    width : 74px;
    top   : 211px;
    left  : 585px;
}

.car-congrats-decal-city-1 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : -2px;
    left      : 4px;
    z-index   : 1;
}

.car-congrats-decal-city-2 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 7px;
    z-index   : 1;
}

.car-congrats-decal-city-3 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 7px;
    left      : -6px;
    z-index   : 1;
}

.car-congrats-decal-city-4 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 3px;
    left      : -1px;
    z-index   : 1;
}

.car-congrats-decal-city-5 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 3px;
    left      : -1px;
    z-index   : 1;
}

/* FOR jazz */

.car-congrats-body-jazz {
	width     : 850px !important;
	max-width : 850px !important;
}

.car-congrats-tint-jazz {
    width     : 850px !important;
    max-width : 850px !important;
    top       : -4px;
    left      : 0;
}

.car-congrats-skirt-jazz {
    width     : 850px !important;
    max-width : 850px !important;
    top       : -2px;
    left      : 0;
    z-index   : 10;
}

.car-congrats-spoiler-jazz {
    width     : 850px !important;
    max-width : 850px !important;
    top       : -4px;
    left      : 2px;
}

.car-congrats-rim-back-jazz {
    width : 78px;
    top   : 230px;
    left  : 179px;
}

.car-congrats-rim-front-jazz {
    width : 78px;
    top   : 236px;
    left  : 579px;
}

.car-congrats-decal-jazz-1 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 3px;
    left      : -2px;
    z-index   : 1;
}

.car-congrats-decal-jazz-2 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-jazz-3 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : -4px;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-jazz-4 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-jazz-5 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

/* FOR CIVIC */

.car-congrats-body-civic {
	width     : 850px !important;
	max-width : 850px !important;
}

.car-congrats-tint-civic {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
}

.car-congrats-skirt-civic {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 10;
}

.car-congrats-spoiler-civic {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
}

.car-congrats-rim-back-civic {
    width : 71px;
    top   : 200px;
    left  : 204px;
}

.car-congrats-rim-front-civic {
    width : 71px;
    top   : 197px;
    left  : 594px;
}

.car-congrats-decal-civic-1 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-civic-2 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-civic-3 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-civic-4 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-civic-5 {
    width     : 850px !important;
    max-width : 850px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

/* FOR CRZ */

.car-congrats-body-crz {
	width     : 750px !important;
	max-width : 750px !important;
}

.car-congrats-tint-crz {
    width     : 750px !important;
    max-width : 750px !important;
    top       : 0;
    left      : 0;
}

.car-congrats-skirt-crz {
    width     : 750px !important;
    max-width : 750px !important;
    top       : 0;
    left      : 0;
    z-index   : 10;
}

.car-congrats-spoiler-crz {
    width     : 750px !important;
    max-width : 750px !important;
    top       : 0;
    left      : 0;
}

.car-congrats-rim-back-crz {
    width : 78px;
    top   : 213px;
    left  : 119px;
}

.car-congrats-rim-front-crz {
    width : 78px;
    top   : 213px;
    left  : 513px;
}

.car-congrats-decal-crz-1 {
    width     : 750px !important;
    max-width : 750px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-crz-2 {
    width     : 750px !important;
    max-width : 750px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-crz-3 {
    width     : 750px !important;
    max-width : 750px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-crz-4 {
    width     : 750px !important;
    max-width : 750px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-crz-5 {
    width     : 750px !important;
    max-width : 750px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

/* FOR brio */

.car-congrats-body-brio {
	width     : 600px !important;
	max-width : 600px !important;
}

.car-congrats-tint-brio {
    width     : 273px !important;
    max-width : 273px !important;
    top       : 7px;
    left      : 119px;
}

.car-congrats-skirt-brio {
    width     : 800px !important;
    max-width : 800px !important;
    top       : -64px;
    left      : -133px;
    z-index   : 10;
}

.car-congrats-spoiler-brio {
    width     : 750px !important;
    max-width : 750px !important;
    top       : -53px;
    left      : -81px;
}

.car-congrats-rim-back-brio {
    width : 70px;
    top   : 167px;
    left  : 48px;
}

.car-congrats-rim-front-brio {
    width : 70px;
    top   : 169px;
    left  : 453px;
}

.car-congrats-decal-brio-1 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : -14px;
    left      : -6px;
    z-index   : 1;
}

.car-congrats-decal-brio-2 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : -5px;
    left      : -5px;
    z-index   : 1;
}

.car-congrats-decal-brio-3 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : -4px;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-brio-4 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-brio-5 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : -7px;
    z-index   : 1;
}

/* FOR amaze*/

.car-congrats-body-amaze {
    width     : 600px !important;
    max-width : 600px !important;
}

.car-congrats-tint-amaze {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
}

.car-congrats-skirt-amaze {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 10;
}

.car-congrats-spoiler-amaze {
    width     : 610px !important;
    max-width : 610px !important;
    top       : 0;
    left      : 2px;
}

.car-congrats-rim-back-amaze {
    width : 60px;
    top   : 180px !important;
    left  : 112px;
}

.car-congrats-rim-front-amaze {
    width : 60px;
    top   : 182px !important;
    left  : 439px;
}

.car-congrats-decal-amaze-1 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-amaze-2 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-amaze-3 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-amaze-4 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-amaze-5 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

/* FOR accord*/

.car-congrats-body-accord {
    width     : 600px !important;
    max-width : 600px !important;
}

.car-congrats-tint-accord {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
}

.car-congrats-skirt-accord {
    width     : 610px !important;
    max-width : 610px !important;
    top       : -4px;
    left      : -7px;
    z-index   : 10;
}

.car-congrats-spoiler-accord {
    width     : 610px !important;
    max-width : 610px !important;
    top       : 0;
    left      : 2px;
}

.car-congrats-rim-back-accord {
    width : 68px;
    top   : 164px;
    left  : 102px;
}

.car-congrats-rim-front-accord {
    width : 68px;
    top   : 167px;
    left  : 457px !important;
}

.car-congrats-rim-back-accord-1 {
    width : 70px;
    top   : 165px;
    left  : 102px !important;
}

.car-congrats-rim-back-accord-2 {
    width : 70px;
    top   : 165px;
    left  : 101px !important;
}


.car-congrats-rim-back-accord-3 {
    width : 70px;
    top   : 165px;
    left  : 102px !important;
}

.car-congrats-rim-back-accord-4 {
    width : 70px;
    top   : 165px;
    left  : 101px !important;
}

.car-congrats-rim-back-accord-5 {
    width : 70px;
    top   : 165px;
    left  : 101px !important;
}

.car-congrats-rim-front-accord-1 {
    width : 70px;
    top   : 166px;
    left  : 457px !important;
}

.car-congrats-rim-front-accord-2 {
    width : 70px;
    top   : 167px;
    left  : 458px !important;
}

.car-congrats-rim-front-accord-3 {
    width : 70px;
    top   : 165px;
    left  : 456px !important;
}

.car-congrats-rim-front-accord-4 {
    width : 70px;
    top   : 167px;
    left  : 456px !important;
}

.car-congrats-rim-front-accord-5 {
    width : 70px;
    top   : 166px;
    left  : 456px !important;
}

.car-congrats-decal-accord-1 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-accord-2 {
    width     : 650px !important;
    max-width : 650px !important;
    top       : -13px;
    left      : -29px;
    z-index   : 1;
}

.car-congrats-decal-accord-3 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 31px;
    left      : 16px;
    z-index   : 1;
}

.car-congrats-decal-accord-4 {
    width     : 700px !important;
    max-width : 700px !important;
    top       : -25px;
    left      : -39px;
    z-index   : 1;
}

.car-congrats-decal-accord-5 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 32px;
    left      : 0;
    z-index   : 1;
}

/* FOR pilot*/

.car-congrats-body-pilot {
    width     : 600px !important;
    max-width : 600px !important;
}

.car-congrats-tint-pilot {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
}

.car-congrats-skirt-pilot {
    width     : 610px !important;
    max-width : 610px !important;
    top       : -4px;
    left      : -7px;
    z-index   : 10;
}

.car-congrats-spoiler-pilot {
    width     : 610px !important;
    max-width : 610px !important;
    top       : 0;
    left      : 2px;
}

.car-congrats-rim-back-pilot {
    width : 60px;
    top   : 187px;
    left  : 107px;
}

.car-congrats-rim-front-pilot {
    width : 60px;
    top   : 187px;
    left  : 447px;
}

.car-congrats-decal-pilot-1 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-pilot-2 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-pilot-3 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-pilot-4 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

.car-congrats-decal-pilot-5 {
    width     : 600px !important;
    max-width : 600px !important;
    top       : 0;
    left      : 0;
    z-index   : 1;
}
