.race-car-img img[ src="" ] {
	 display: none;
}
.race-car1-custom {
		position : absolute;
}

.car-congrats-custom {
		position : absolute;
}

.car-congrats-body {
		width : 900px
}

.race-rim-animate {
		-webkit-animation  : rotating .1s linear infinite;
		-moz-animation     : rotating .1s linear infinite;
		animation          : rotating .1s linear infinite;
		transition         : 5s all;
		-webkit-transition : 5s all;
		-moz-transition    : 5s all;

}

/*FOR CRV*/

.race-tint-crv {
		width    : 250px;
		top      : 0;
		left     : 1px;
}

.race-skirt-crv {
	 width    : 250px;
		top      : 0;
		left     : 1px;
}

.race-spoiler-crv {
		width    : 250px;
		top      : 12px;
		left     : 2px;
}

.race-rim-back-crv {
		width    : 31px;
		top      : 75px;
		left     : 37px;
}
.race-rim-front-crv {
	 width    : 31px;
	 top      : 73px;
	 left     : 189px;
}

.race-decal-crv-1 {
		width : 250px;
		top   : 0;
		left  : -1px;
		z-index : 1;
}

.race-decal-crv-2 {
		width : 250px;
		top   : 0;
		left  : -1px;
		z-index : 1;
}

.race-decal-crv-3 {
		width : 250px;
		top   : 0;
		left  : -1px;
		z-index : 1;
}

.car-congrats-tint-crv {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 0;
		left      : 1px;
}

.car-congrats-skirt-crv {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 0;
		z-index   : 10;
}

.car-congrats-spoiler-crv {
		width     : 800px !important;
		max-width : 800px !important;
		top       : -1px;
		left      : 2px;
}

.car-congrats-rim-back-crv {
		width : 93px;
		top   : 235px;
		left  : 146px;
}

.car-congrats-rim-front-crv {
		width : 93px;
		top   : 233px;
		left  : 584px;
}

.car-congrats-decal-crv-1 {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 0;
		left      : 3px;
		z-index   : 1;
}

.car-congrats-decal-crv-2 {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 0;
		left      : 1px;
		z-index   : 1;
}

.car-congrats-decal-crv-3 {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 0;
		z-index   : 1;
}


.car-congrats-decal-crv-4 {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 0;
		z-index   : 1;
}


.car-congrats-decal-crv-5 {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 0;
		z-index   : 1;
}

/*FOR CITY*/

.race-tint-city {
		width    : 250px;
		top      : 9px;
		left     : 0;
}

.race-skirt-city {
		width   : 250px;
		top     : 6px;
		left    : 0;
		z-index : 10;
}

.race-spoiler-city {
	 width : 250px;
	 top   : 9px;
	 left  : 0;
}

.race-rim-back-city {
	 width    : 29px;
	 top      : 64px;
	 left     : 35px;
}
.race-rim-front-city {
		width    : 29px;
		top      : 65px;
		left     : 189px;
}

.race-decal-city-1 {
		width   : 250px;
		top     : 8px;
		left    : 1px;
		z-index : 1;
}

.race-decal-city-2 {
		width   : 245px;
		top     : 9px;
		left    : 3px;
		z-index : 1;
}

.race-decal-city-3 {
		width   : 250px;
		top     : 9px;
		left    : -1px;
		z-index : 1;
}

.car-congrats-tint-city {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 1px;
		left      : 2px;
}

.car-congrats-skirt-city {
		width     : 888px !important;
		max-width : 900px !important;
		top       : 2px;
		left      : 6px;
		z-index   : 10;
}

.car-congrats-spoiler-city {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 2px;
		left      : 0;
}

.car-congrats-rim-back-city {
		width : 82px;
		top   : 221px;
		left  : 203px;
}

.car-congrats-rim-front-city {
		width : 82px;
		top   : 222px;
		left  : 619px;
}

.car-congrats-decal-city-1 {
		width     : 891px !important;
		max-width : 900px !important;
		top       : 2px;
		left      : 7px;
		z-index   : 1;
}

.car-congrats-decal-city-2 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : -1px;
		left      : 7px;
		z-index   : 1;
}

.car-congrats-decal-city-3 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 3px;
		left      : -1px;
		z-index   : 1;
}


.car-congrats-decal-city-4 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 3px;
		left      : -1px;
		z-index   : 1;
}


.car-congrats-decal-city-5 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 3px;
		left      : -1px;
		z-index   : 1;
}

/*FOR jazz*/

.race-tint-jazz {
		width    : 250px;
		top      : 4px;
		left     : 0;
}

.race-skirt-jazz {
	 width   : 250px;
	 top     : 5px;
	 z-index : 10;
}

.race-spoiler-jazz {
		width : 250px;
		top   : 6px;
		left  : 0;
}

.race-rim-back-jazz {
		width : 33px;
		top   : 78px;
		left  : 21px;
}
.race-rim-front-jazz {
		width : 33px;
		top   : 80px;
		left  : 189px;
}

.race-decal-jazz-1 {
		width   : 250px;
		top     : 5px;
		left    : 0;
		z-index : 1;
}

.race-decal-jazz-2 {
		width   : 250px;
		top     : 5px;
		left    : 0;
		z-index : 1;
}

.race-decal-jazz-3 {
		width   : 250px;
		top     : 1px;
		left    : 0;
		z-index : 1;
}

.car-congrats-tint-jazz {
		width     : 1000px !important;
		max-width : 1000px !important;
		top       : -3px;
		left      : 0;
}

.car-congrats-skirt-jazz {
		width     : 1000px !important;
		max-width : 1000px !important;
		top       : -2px;
		left      : 0;
		z-index   : 10;
}

.car-congrats-spoiler-jazz {
		width     : 1000px !important;
		max-width : 1000px !important;
		top       : -1px;
		left      : 2px;
}

.car-congrats-rim-back-jazz {
		width : 93px;
		top   : 267px;
		left  : 210px;
}

.car-congrats-rim-front-jazz {
		width : 93px;
		top   : 275px;
		left  : 682px;
}

.car-congrats-decal-jazz-1 {
		width     : 1000px !important;
		max-width : 1000px !important;
		top       : 1px;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-jazz-2 {
		width     : 1000px !important;
		max-width : 1000px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-jazz-3 {
		width     : 1000px !important;
		max-width : 1000px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-jazz-4 {
		width     : 1000px !important;
		max-width : 1000px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-jazz-5 {
		width     : 1000px !important;
		max-width : 1000px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

/*FOR CIVIC*/

.race-tint-civic {
		width    : 250px;
		top      : 0px;
		left     : 0;
}

.race-skirt-civic {
		width   : 250px;
		top     : 0;
		left    : 0;
		z-index : 10;
}

.race-spoiler-civic {
	 width : 250px;
	 top   : 0;
	 left  : 0;
}

.race-rim-back-civic {
	 width    : 28px;
	 top      : 61px;
	 left     : 39px;
}
.race-rim-front-civic {
		width    : 29px;
		top      : 60px;
		left     : 191px;
}

.race-decal-civic-1 {
		width   : 250px;
		top     : 0;
		left    : 0;
		z-index : 1;
}

.race-decal-civic-2 {
		width   : 250px;
		top     : 0;
		left    : 0;
		z-index : 1;
}

.race-decal-civic-3 {
		width   : 250px;
		top     : 0;
		left    : 0;
		z-index : 1;
}

.car-congrats-tint-civic {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
}

.car-congrats-skirt-civic {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 10;
}

.car-congrats-spoiler-civic {
		width     : 906px !important;
		max-width : 906px !important;
		top       : -1px;
		left      : 0;
}

.car-congrats-rim-back-civic {
		width : 82px;
		top   : 208px;
		left  : 213px;
}

.car-congrats-rim-front-civic {
		width : 82px;
		top   : 206px;
		left  : 626px;
}

.car-congrats-decal-civic-1 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 2px;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-civic-2 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-civic-3 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-civic-4 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-civic-5 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


/*FOR crz*/

.car-congrats-tint-crz {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
}

.car-congrats-skirt-crz {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 10;
}

.car-congrats-spoiler-crz {
		width     : 906px !important;
		max-width : 906px !important;
		top       : -1px;
		left      : 0;
}

.car-congrats-rim-back-crz {
		width : 105px;
		top   : 252px;
		left  : 137px;
}

.car-congrats-rim-front-crz {
		width : 105px;
		top   : 251px;
		left  : 609px;
}

.car-congrats-decal-crz-1 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 2px;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-crz-2 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-crz-3 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-crz-4 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-crz-5 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

/*For brio*/

.car-congrats-tint-brio {
		width     : 318px !important;
		max-width : 318px !important;
		top       : 8px;
		left      : 138px;
}

.car-congrats-skirt-brio {
		width     : 900px !important;
		max-width : 900px !important;
		top       : -63px;
		left      : -138px;
		z-index   : 10;
}

.car-congrats-spoiler-brio {
		width     : 900px !important;
		max-width : 900px !important;
		top       : -64px;
		left      : -98px;
}

.car-congrats-rim-back-brio {
		width : 93px;
		top   : 189px;
		left  : 50px;
}

.car-congrats-rim-front-brio {
		width : 93px;
		top   : 191px;
		left  : 523px;
}

.car-congrats-decal-brio-1 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : -16px;
		left      : -7px;
		z-index   : 1;
}

.car-congrats-decal-brio-2 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : -6px;
		left      : -7px;
		z-index   : 1;
}

.car-congrats-decal-brio-3 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : -5px;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-brio-4 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : -11px;
		z-index   : 1;
}


.car-congrats-decal-brio-5 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : -4px;
		left      : -8px;
		z-index   : 1;
}

/*For amaze*/

.car-congrats-tint-amaze {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : -11px;
}

.car-congrats-skirt-amaze {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 10;
}

.car-congrats-spoiler-amaze {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
}

.car-congrats-rim-back-amaze {
		width : 68px;
		top   : 210px;
		left  : 133px;
}

.car-congrats-rim-front-amaze {
		width : 68px;
		top   : 212px;
		left  : 513px;
}

.car-congrats-decal-amaze-1 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : -9px;
		z-index   : 1;
}

.car-congrats-decal-amaze-2 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-amaze-3 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-amaze-4 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-amaze-5 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

/*For accord*/

.car-congrats-tint-accord {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
}

.car-congrats-skirt-accord {
		width     : 710px !important;
		max-width : 710px !important;
		top       : -5px;
		left      : -6px;
		z-index   : 10;
}

.car-congrats-spoiler-accord {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
}

.car-congrats-rim-back-accord-1 {
		width : 79px;
		top   : 192px;
		left  : 120px;
}

.car-congrats-rim-back-accord-2 {
		width : 79px;
		top   : 192px;
		left  : 118px;
}


.car-congrats-rim-back-accord-3 {
		width : 79px;
		top   : 192px;
		left  : 119px;
}

.car-congrats-rim-back-accord-4 {
		width : 79px;
		top   : 193px;
		left  : 119px;
}

.car-congrats-rim-back-accord-5 {
		width : 80px;
		top   : 192px;
		left  : 118px;
}

.car-congrats-rim-front-accord-1 {
		width : 79px;
		top   : 194px;
		left  : 535px;
}

.car-congrats-rim-front-accord-2 {
		width : 79px;
		top   : 194px;
		left  : 535px;
}

.car-congrats-rim-front-accord-3 {
		width : 79px;
		top   : 194px;
		left  : 535px;
}

.car-congrats-rim-front-accord-4 {
		width : 79px;
		top   : 195px;
		left  : 535px;
}

.car-congrats-rim-front-accord-5 {
		width : 80px;
		top   : 194px;
		left  : 534px;
}

.car-congrats-decal-accord-1 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-accord-2 {
		width     : 900px !important;
		max-width : 900px !important;
		top       : -15px;
		left      : -69px;
		z-index   : 1;
}

.car-congrats-decal-accord-3 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 37px;
		left      : 17px;
		z-index   : 1;
}


.car-congrats-decal-accord-4 {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 5px;
		left      : -37px;
		z-index   : 1;
}


.car-congrats-decal-accord-5 {
		width     : 800px !important;
		max-width : 800px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

/*For PILOT*/

.car-congrats-tint-pilot {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
}

.car-congrats-skirt-pilot {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 10;
}

.car-congrats-spoiler-pilot {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
}

.car-congrats-rim-back-pilot {
		width : 70px;
		top   : 219px;
		left  : 126px;
}

.car-congrats-rim-front-pilot {
		width : 70px;
		top   : 215px;
		left  : 521px;
}

.car-congrats-decal-pilot-1 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-pilot-2 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}

.car-congrats-decal-pilot-3 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}


.car-congrats-decal-pilot-4 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : -11px;
		z-index   : 1;
}


.car-congrats-decal-pilot-5 {
		width     : 700px !important;
		max-width : 700px !important;
		top       : 0;
		left      : 0;
		z-index   : 1;
}
