.congrats-background {
	width    : 100%;
	height   : 100%;
	overflow : hidden;
}

.urbano-congrats {
	position : absolute;
	top      : 331px;
	left     : 1233px;
}


.car-name-print {
	width      : 434px;
	position   : relative;
	text-align : center;
	top        : 28px;
	left       : -66px;
}


#car-name-congrats-cont {
	display     : inline-block;
	font-size   : 37px;
	font-weight : 200;
}


.designer-name-print {
	width      : 434px;
	position   : relative;
	text-align : center;
	top        : 305px;
	left       : -5px;
}


#desinger-name-congrats-cont {
	display    : inline-block;
	color      : white !important;
	font-size  : 19px;
}

.canvas-container {
	width       : 193px;
	height      : 164px;
	margin-left : -20px;
}

.canvas-container-congrats {
	overflow      : hidden;
	border-radius : 1000px;
	position      : absolute;
	top           : 341px;
	left          : 142px;
	width         : 139px;
	z-index       : 1;
	height        : 180px;
}

.other-fields-congrats {
	position : relative;
	top      : 340px;
	left     : 66px;
}

.car-design-congrats{
    position : absolute;
    top      : 98px;
    left     : 464px;
}
.car-design-congrats img{
    width : 699px;
}

.kidzania-logo-congrats {
    position : absolute;
    top      : 30px;
    left     : 1176px;
}
.kidzania-logo-congrats img {
    width : 230px;
}

.bg-under-congrats {
	width    : 100%;
	height   : 805px;
	position : absolute;
}

.bg-stage-congrats {
	width      : 100%;
	height     : 100%;
	margin-top : -1px;
	position : absolute;
}

.my-dream-car-congrats{
    position : absolute;
    top      : 50px;
    left     : 383px;
}
.my-dream-car-congrats img{
    width : 668px;
}

.video {
	position : absolute;
}

.video-container {

	overflow      : hidden;
	border-radius : 1000px;
	position      : relative;
	width         : 140px;
	height        : 187px;
	top           : 343px;
	left          : 141px;
}

.video-container video {
	height      : 146px;
	width       : 274px;
	margin-left : -59px;
}

.form-info-congrats {
	width : 300px;
}

#take-picture {
	width            : 300px;
	color            : #fff;
	background-color : #3F3B3B;
}

#retake-picture {
	width            : 300px;
	color            : #fff;
	background-color : #3F3B3B;
}

#print-icon img {
	width : 61px;
}

.print-button {
	padding-left  : 22px;
	padding-right : 22px;
	cursor        : pointer;
	position      : relative;
	top           : 727px;
	left          : 1267px;
}

.print-button button {
	background-color : transparent;
}

.print-button span {
	font-family : 'Helvetica Neue', 'Helvetica,Arial,sans-serif';
	color       : white;
	font-size   : 20px;
	margin-left : -10px;
}

.print-congrats {
	width      : 300px;
	background : url('../images/button-bg.png');
}

.car-congrats {
	position : absolute;
	/*top      : 298px;*/
	/*left     : 644px;*/
}

.car-details-congrats {
    position   : absolute;
    top        : 623px;
    color      : #000;
    width      : 861px;
    left       : 405px;

}

.car-details-congrats h2 {
	margin-left : 296px;
}

.honda-logo-congrats {
    position : absolute;
    top      : 20px;
    left     : 39px;
}
.honda-logo-congrats img {
    width : 150px;
}
.form-info-dis-congrats {
	margin-bottom: 10px;
}

.sep-congrats {
	display : none;
}

/*.kidzania-logo-congrats {*/
	/*position : absolute;*/
	/*top      : 752px;*/
	/*left     : 1178px;*/
/*}*/

/*.kidzania-logo-congrats img {*/
	/*width : 220px;*/
/*}*/

#desinger-name-congrats {
	border           : none;
	background-color : transparent;
	box-shadow       : none;
	top              : 303px;
	left             : -7px;
	position         : relative;
	color            : white;
	width            : 434px;
	z-index          : 10;
	text-align       : center;
}

#car-name-congrats {
	/*text-align : center;*/
}

#desinger-name-congrats-cont {
	display : none;
}

#car-name-congrats-cont {
	display : none;
}

.congrats-back-home {
	padding-left  : 22px;
	padding-right : 22px;
	cursor        : pointer;
	position      : absolute;
	top           : 727px;
}

.congrats-back-home p {
	margin-top : 30px;
	color      : white;
	font-size  : 18px;
	cursor     : pointer;
}

.congrats-back-home i {
	margin-top : 28px;
	color      : white;
	font-size  : 32px;
	cursor     : pointer;
}

.pic-holder-congrats {
	position : absolute;
	top      : 30px;
}

.pic-holder-congrats img {
	width    : 327px;
	top      : 222px;
	left     : 48px;
	position : relative;
}

.print-modal {
	position : absolute;
	height   : 252px;
	width    : 350px;
	top      : 217px;
	left     : 573px;
	z-index  : 1000;
}

.modal-background {
	height              : -webkit-calc( 100% );
	background          : url( '../images/certificate/background.png' );
	background-position : center center;
	background-size     : auto 100%;
}

.close-modal {
	position : relative;
	top      : -231px;
	left     : 324px;
}

.close-modal img {
	width : 15px;
}

.close-modal :hover {
	cursor : pointer;
}

.body-modal {
	position    : relative;
	top         : -246px;
	width       : 278px;
	margin-left : 35px;
}

.body-modal h3 {
	text-align : center;
}

.body-modal span {
	margin-left : 22px;
}

.body-modal input {
	margin-top : 16px;
}

.footer-modal {
	position : relative;
	top : -224px;
	margin-left: 35px;
}

.footer-modal img {
	width : 276px;
}

.footer-modal :hover {
	cursor : pointer;
}

