.congrats-background {
	width    : 100%;
	height   : 100%;
	overflow : hidden;
}

.congrats-background img {
	width  : 100%;
	height : 805px;
}

.my-dream-car-congrats{
    position : absolute;
    top      : 50px;
    left     : 383px;
}
.my-dream-car-congrats img{
    width : 700px;
}

.video {
	top      : 200px;
	position : absolute;
	z-index  : 1000;
	left     : 100px;
}

.form-info-congrats {
	width : 300px;
}

#take-picture {
	width            : 300px;
	color            : #fff;
	background-color : #3F3B3B;
}

.print-congrats {
	width      : 300px;
	background : url('../images/button-bg.png');
}

.canvas-container {
	top  : 238px;
	left : 100px;

    z-index  : 1000000000000;
    position : absolute;
}

.car-congrats {
	position : absolute;
	top      : 298px;
	left     : 644px;
}

.car-details-congrats {
    position   : absolute;
    top        : 169px;
    text-align : right;
    color      : #000;
    width      : 400px;
    left       : 990px;

}

.honda-logo-congrats {
    position : absolute;
    left     : 1049px;
    top      : 16px;
}
.form-info-dis-congrats {
	margin-bottom: 10px;
}

.sep-congrats {
	display : none;
}

.kidzania-logo-congrats {
	position : absolute;
	top      : 687px;
	left     : 994px;
}

.kidzania-logo-congrats img {
	width : 400px;
}

#desinger-name-congrats-cont {
	display : none;
}

#car-name-congrats-cont {
	display : none;
}

.congrats-back-home {
	padding-left  : 22px;
	padding-right : 22px;
	cursor        : pointer;
	position      : absolute;
	top           : 727px;
}

.congrats-back-home p {
	margin-top : 30px;
	color      : white;
	font-size  : 18px;
	cursor     : pointer;
}

.congrats-back-home i {
	margin-top : 28px;
	color      : white;
	font-size  : 32px;
	cursor     : pointer;
}
