.customizer-main {
	height : -moz-calc( 100% - 201px );
    height : -webkit-calc( 100% - 201px );
    height : calc( 100% - 201px );
	background-color : #ffcc00;
	background       : url( '../images/backgrounds/garage-bg.jpg' );
	background-position : center center;
	background-size  : auto auto;
}

.btn-customizer, .btn-back-carousel, .btn-back-preview{
	padding-left  : 22px;
	padding-right : 22px;
	cursor        : pointer;
}

.btn-customizer > img {
	height     : 40px;
	margin-top : 25px;
}

.btn-customizer > p {
	margin-top : 30px;
	color      : white;
	font-size  : 18px;
}

.btn-back-carousel > i, .btn-back-preview > i {
	margin-top : 28px;
	color      : white;
	font-size  : 32px;
	cursor     : pointer;
}

.btn-back-carousel > p, .btn-back-preview > p  {
	margin-top : 30px;
	color      : white;
	font-size  : 18px;
	cursor     : pointer;
}

.btn-back-carousel > p:hover, .btn-back-preview > p:hover {
	margin-top : 30px;
	color      : yellow;
	font-size  : 18px;
	cursor     : pointer;
}

.customizer-start-over, .btn-start-over {
	text-align : center;
	width      : 200px;
}

.btn-with-divider {
	background          : url( '../images/assets/divider.png' );
	background-position : left 8px;
	background-repeat   : no-repeat;
	background-size     : auto 100%;
}

.customizer-car-color > p.active, .customizer-car-color > p:hover {
	color : #F26122 !important;
}

.customizer-car-tint > p.active, .customizer-car-tint > p:hover {
	color : #21D3FF !important;
}

.customizer-car-decal > p.active, .customizer-car-decal > p:hover {
	color : #8424F7 !important;
}

.customizer-car-rims > p.active, .customizer-car-rims > p:hover {
	color : #0EDC7A !important;
}

.customizer-car-body > p.active, .customizer-car-body > p:hover {
	color : #FFF546 !important;
}

.customizer-holder {
	width    : 550px;
	height   : 500px;
	position : relative;
	top      : 30px;
	left     : 0;
}

.customizer-container {
	width            : 380px;
	height           : 430px;
	position         : relative;
	top              : 100px;
	left             : 150px;
}

.customizer-car-container {
	position        : relative;
	top             : 140px;
	right           : 120px;
	image-rendering : -o-crisp-edges;
}

/* ASSETS canvas */
.customizer-car-container-div {
	position : absolute;
	top      : 0;
	right    : 0;
}

.div-1 {
	z-index : 1;
}

.div-2 {
	z-index : 2;
}

.preview-car-container {
	position        : relative;
	top             : 120px !important;
	right           : 80px !important;
	image-rendering : -o-crisp-edges;
}

.customizer-title-cont {
	display      : table-cell;
	margin-right : 30px;
}

/*decal table-cell*/
.table-cell-decal {
	display      : table-cell;
	height       : 70px !important;
	margin-right : 87px !important;
}

.decal-container {
	width : 400px;
}

.customizer-title {
	font-size : 20px;
	margin    : 0 0;
	color     : black;
}

.customizer-info {
	color : black;
}

.customizer-item-3 {
	width          : 110px;
	height         : 130px;
	margin-right   : 15px;
	margin-bottom  : 30px;
	vertical-align : bottom;
	cursor         : pointer;
}

.customizer-item-auto {
	height         : 130px;
	margin-right   : 15px;
	margin-bottom  : 30px;
	vertical-align : bottom;
	cursor         : pointer;
}

.customizer-item-1 {
	width         : 350px;
	height        : 100px;
	margin-bottom : 30px;
	margin-right  : 15px;
	cursor        : pointer;
}

.customizer-item-3-1 {
	width         : 95px;
	height        : 140px;
	margin-right  : 20px;
	margin-bottom : 0;
	cursor        : pointer;
}

.customizer-item-3-3 {
	width         : 110px;
	height        : 120px;
	margin-right  : 15px;
	margin-bottom : 0;
	cursor        : pointer;
}

.customizer-item-3-2 {
	width         : 110px;
	height        : 150px;
	background    : black;
	margin-right  : 15px;
	margin-bottom : 20px;
	cursor        : pointer;
}

.customizer-item-3 > p, .customizer-item-3-1 > p, .customizer-item-3-3 > p, .customizer-item-1 > p, .customizer-item-auto > p {
	text-align          : center;
	color               : black;
	text-shadow         : 0 0 2px #fff; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow    : 0 0 2px #fff;
	-webkit-text-shadow : 0 0 2px #fff;
}

.customizer-item-3 > img {
	display      : block;
	margin-left  : auto;
	margin-right : auto;
}

@media screen and ( max-height : 718px) {
    .customizer-container {
    	top : 60px;
    }

    .customizer-car-container {
    	top : 80px;
    }

    .preview-car-container {
    	top : 60px !important;
    }
}
