.customizer-main {
	height : -moz-calc( 100% - 201px );
    height : -webkit-calc( 100% - 201px );
    height : calc( 100% - 201px );
	background-color : #ffcc00;
	background       : url( '../images/backgrounds/garage-bg.jpg' );
	background-position : center center;
	background-size  : 100% auto;
}

.btn-customizer {
	padding-left  : 22px;
	padding-right : 22px;
	cursor        : pointer;
}

.btn-customizer > img {
	height     : 60px;
	margin-top : 15px;
}

.btn-customizer > p {
	margin-top : 30px;
	color      : white;
	font-size  : 18px;
}

.customizer-start-over {
	text-align : center;
	width      : 230px;
}

.btn-with-divider {
	background          : url( '../images/assets/divider.png' );
	background-position : left 8px;
	background-repeat   : no-repeat;
	background-size     : auto 100%;
}

.customizer-car-color > p.active, .customizer-car-color > p:hover {
	color : orange !important;
}

.customizer-car-tint > p.active, .customizer-car-tint > p:hover {
	color : #87CEEB !important;
}

.customizer-car-decal > p.active, .customizer-car-decal > p:hover {
	color : violet !important;
}

.customizer-car-rims > p.active, .customizer-car-rims > p:hover {
	color : green !important;
}

.customizer-car-body > p.active, .customizer-car-body > p:hover {
	color : yellow !important;
}

.customizer-holder {
	width    : 550px;
	height   : 500px;
	position : relative;
	top      : 0;
	left     : 0;
}

.customizer-container {
	width            : 380px;
	height           : 430px;
	position         : relative;
	top              : 60px;
	left             : 150px;
}

.customizer-car-container {
	position        : relative;
	top             : 80px;
	right           : 120px;
	image-rendering : -o-crisp-edges;
}

.customizer-title {
	font-size : 16px;
	margin    : 0 0;
}

.customizer-info {
}

.customizer-item-3 {
	width          : 110px;
	height         : 130px;
	margin-right   : 15px;
	margin-bottom  : 30px;
	vertical-align : bottom;
	cursor         : pointer;
}

.customizer-item-auto {
	height         : 130px;
	margin-right   : 15px;
	margin-bottom  : 30px;
	vertical-align : bottom;
	cursor         : pointer;
}

.customizer-item-1 {
	width         : 350px;
	height        : 100px;
	margin-bottom : 30px;
	margin-right  : 15px;
	cursor        : pointer;
}

.customizer-item-3-1 {
	width         : 110px;
	height        : 110px;
	margin-right  : 15px;
	margin-bottom : 15px;
	cursor        : pointer;
}

.customizer-item-3-2 {
	width         : 110px;
	height        : 150px;
	background    : black;
	margin-right  : 15px;
	margin-bottom : 20px;
	cursor        : pointer;
}

.customizer-item-3 > p, .customizer-item-3-1 > p, .customizer-item-1 > p, .customizer-item-auto > p {
	text-align : center;
}

.customizer-item-3 > img {
	display      : block;
	margin-left  : auto;
	margin-right : auto;
}
