#loading {
    height              : -webkit-calc( 100% );
    background          : url( '../images/loading/loading-bg.png' );
    background-position : center center;
    background-size     : auto 100%;

}
.car-design-loading{
    position : absolute;
    top      : 50px;
    left     : 290px;
}
.car-design-loading img{
    width : 800px;
}

.honda-logo-loading {
    position : absolute;
    top      : 20px;
    left     : 39px;
}
.honda-logo-loading img {
    width : 150px;
}

.kidzania-logo-loading {
	margin-left : -webkit-calc( 82% );
	padding-top : 11px;
}
.kidzania-logo-loading img {
    width : 230px;
}

.loading-progress {
	position : absolute;
	top      : 690px;
	left     : 554px;
	width    : 400px;
}

.loading-center {
	text-align : center;
	color      : #FFF;
}

.progress-bar-success {
    background-color : #A0F937;
}

.urbano-loading {
    position : absolute;
    top      : -75px;
    left     : 350px;
    z-index  : 9999;
    width    : 100%;
}

.urbano-loading img {
    width: 20%;
}
