#loading {
    height              : -webkit-calc( 100% );
    background          : url( '../images/loading/loading-bg.png' );
    background-position : center center;
    background-size     : auto 100%;

}
.my-dream-car-loading{
    position : absolute;
    top      : 50px;
    left     : 387px;
}
.my-dream-car-loading img{
    width : 668px;
}

.honda-logo-loading {
    position : absolute;
    top      : 50px;
    left     : 59px;
}
.honda-logo-loading img {
    width : 175px;
}

.kidzania-logo-loading {
    position : absolute;
    top      : 50px;
    left     : 1176px;
}
.kidzania-logo-loading img {
    width : 220px;
}

.loading-progress {
	position : absolute;
	top      : 690px;
	left     : 554px;
	width    : 400px;
}

.loading-center {
	text-align : center;
	color      : #FFF;
}

.progress-bar-success {
    background-color : #A0F937;
}
