.preview-main {
    height: -moz-calc( 100% - 201px);
    height: -webkit-calc( 100% - 201px);
    height: calc( 100% - 201px);
    background-color: #ffcc00;
    background: url('../images/backgrounds/preview.png');
    background-position: center center;
    background-size: 100% auto;
}

.btn-rotate-counter {
    position : relative;
    top      : -webkit-calc(100%/ 2);
    top      : calc(100% / 2);
    right    : 50px;
    cursor : pointer;
}

.btn-rotate-clockwise {
	position : relative;
    top    : -webkit-calc(100%/ 2);
    top    : calc(100% / 2);
    right  : 150px;
    cursor : pointer;
}
