.preview-main {
    height: -moz-calc( 100% - 201px);
    height: -webkit-calc( 100% - 201px);
    height: calc( 100% - 201px);
    background-color: #ffcc00;
    background: url('../images/backgrounds/preview.png');
    background-position: center center;
    background-size: 100% auto;
}

.city-street {
    background-image: url('../images/backgrounds/preview.png'), url('../images/backgrounds/city-background.jpg');
    background-position: center center, right top;
    background-size: 100% auto, auto auto;
}

.sunset-forest {
    background-image: url('../images/backgrounds/preview.png'), url('../images/backgrounds/forest-background.jpg');
    background-position: center center, right top;
    background-size: 100% auto, auto auto;
}

.summer-beach {
    background-image: url('../images/backgrounds/preview.png'), url('../images/backgrounds/beach-background.jpg');
    background-position: center center, right top;
    background-size: 100% auto, auto auto;
}

.motor-sport {
    background-image: url('../images/backgrounds/preview.png'), url('../images/backgrounds/motor-sport-background.jpg');
    background-position: center center, right top;
    background-size: 100% auto, auto auto;
}

.btn-rotate-counter {
    position: relative;
    top: -webkit-calc(100%/ 2);
    top: calc(100% / 2);
    right: 50px;
    cursor: pointer;
}

.btn-rotate-clockwise {
    position: absolute;
    top: -webkit-calc(100%/ 2);
    top: calc(100% / 2);
    right: 795px;
    cursor: pointer;
}
