.preview-main {
    height: -moz-calc( 100% - 201px);
    height: -webkit-calc( 100% - 201px);
    height: calc( 100% - 201px);
    background-image    : url('../images/backgrounds/stage.png'), url('../images/backgrounds/city-background.jpg');
    background-position : center bottom, right top;
    background-size     : 100% auto, auto auto;
    background-repeat   : no-repeat;
}

.city-street {
    background-image    : url('../images/backgrounds/stage.png'), url('../images/backgrounds/city-background.jpg');
    background-position : center bottom, right top;
    background-size     : 100% auto, auto auto;
    background-repeat   : no-repeat;
}

.sunset-forest {
    background-image    : url('../images/backgrounds/stage.png'), url('../images/backgrounds/forest-background.jpg');
    background-position : center bottom, right top;
    background-size     : 100% auto, auto auto;
    background-repeat   : no-repeat;
}

.summer-beach {
    background-image    : url('../images/backgrounds/stage.png'), url('../images/backgrounds/beach-background.jpg');
    background-position : center bottom, right top;
    background-size     : 100% auto, auto auto;
    background-repeat   : no-repeat;
}

.motor-sport {
    background-image    : url('../images/backgrounds/stage.png'), url('../images/backgrounds/motor-sport-background.jpg');
    background-position : center bottom, right top;
    background-size     : 100% auto, auto auto;
    background-repeat   : no-repeat;
}

.btn-rotate-counter {
    position: relative;
    top: -webkit-calc(100%/ 2);
    top: calc(100% / 2);
    right: 50px;
    cursor: pointer;
}

.btn-rotate-clockwise {
    position: absolute;
    top: -webkit-calc(100%/ 2);
    top: calc(100% / 2);
    right: 795px;
    cursor: pointer;
}

.preview-urbano {
    position : absolute;
    top      : 250px;
    left     : 400px;
}
