@page {
	size   : a4 landscape;
	margin : 0;
}

html, body {
	margin-top   : auto;
	margin-left  : auto;
	margin-right : auto;
	width        : 216mm;
	height       : 2px;
}

.bg-under-congrats {
	width  : 100%;
	height : 1017px;
}

.bg-stage-congrats {
	width      : 100%;
	height     : 100%;
	margin-top : 416px;
}

.video {
	top : 283px;
}

.canvas-container {
	top  : 322px;
	left : 100px;
}

.my-dream-car-congrats {
	display : block;
	width   : 800px;
	top     : 128px;
}

.my-dream-car-congrats img {
	width : 646px;
}

.car-congrats {
	display : block;
	top     : 446px;
	width   : 702px;
}

.form-info-congrats button {
	display: none;

}

.form-info-congrats {
	width : 300px;
}

#take-picture, #retake-picture {
	display: none;
}

.congrats-back-home {
	display : none;
}

.sep-congrats {
	display : block;
	border-top-color: black;
	margin-top: -10px;
	margin-bottom : 24px;
	text-align : center;

}

.sep-congrats span {
	margin-top : -20px;
}
.sep-congrats hr {
	border-top-color : #908888;
	margin-bottom    : 0;
}

.input-print {
	display       : none;
	border        : none;
	background    : transparent;
	text-align    : center;
	margin-bottom : -18px;
}

#desinger-name-congrats-cont {
	display    : block;
	text-align : center;
}

#car-name-congrats-cont {
	display    : block;
	text-align : center;
}

.car {
	margin-top : 20px;
}

.car-details-congrats {
	top  : 403px;
	left : 900px;
}

.kidzania-logo-congrats {
	top  : 951px;
	left : 1210px;
}

.honda-logo-congrats {
    position : absolute;
    left     : 1255px;
    top      : 24px;
}

.honda-logo-congrats img {
	width : 175px;
}
