@page {
	size   : a4;
	margin : 0;
}

html, body {
	width       : 210mm;
	height      : 297mm;
	margin: 0;
	/*margin      : 0mm;
	margin-top  : 0mm;
	padding-top : 0mm;*/
}

.printing-congrats {
	-webkit-transform: rotate(90deg);
  height: 1002px;
  width: 1644px;
  margin-top: 86mm;
  margin-left: -36mm;
}
.congrats-background {
  width: 102%;
  margin: 0mm;
  height: 100%;

 }

.bg-under-congrats {
	  height: 100%;
  min-width: 1675px;
  min-height: 1186px;
}

.bg-stage-congrats {
	height: 100%;
  margin-top: -1px;
  width: 100%;
  min-height: 1185px;
  min-width: 1675px;
  position: absolute;
}

.video {
	top : 283px;
}

.canvas-container {
	top  : 322px;
	left : 100px;
}

.my-dream-car-congrats {
	display : block;
	width   : 800px;
	top     : 128px;
	left    : 556px;
}

.my-dream-car-congrats img {
	width : 646px;
}

.car-congrats {
	display : block;
	top     : 446px;
	width   : 702px;
}

.form-info-congrats button {
	display: none;

}

.form-info-congrats {
	width : 300px;
}

#take-picture, #retake-picture {
	display: none;
}

.congrats-back-home {
	display : none;
}

.sep-congrats {
	display : block;
	border-top-color: black;
	margin-top: -10px;
	margin-bottom : 24px;
	text-align : center;

}

.sep-congrats span {
	margin-top : -20px;
}
.sep-congrats hr {
	border-top-color : #908888;
	margin-bottom    : 0;
}

.input-print {
	display       : none;
	border        : none;
	background    : transparent;
	text-align    : center;
	margin-bottom : -18px;
}

#desinger-name-congrats-cont {
	display    : block;
	text-align : center;
}

#car-name-congrats-cont {
	display    : block;
	text-align : center;
}

.car {
	margin-top : 20px;
}

.car-details-congrats {
	top  : 403px;
	left : 1175px;
}

.kidzania-logo-congrats {
	top: 1080px;
  left: 1422px;
  position: absolute;
}

.honda-logo-congrats {
    position: absolute;
  left: 1465px;
  top: 24px;
}

.honda-logo-congrats img {
	width : 175px;
}
