@page {
	size: landscape;
}

.printing-congrats {
	display: list-item;
    list-style-image: url('../images/backgrounds/garage-bg.jpg');
    list-style-position: inside;
}

.my-dream-car-congrats {
	display : block;
	width   : 500px;
	top     : 100px;
}

.car-congrats {
	display: block;
	top: 100px;
	width: 500px;
}

.form-info-congrats button {
	display: none;

}

.sep-congrats {
	display : block;
	border-top-color: black;
	margin-top: 1px;
	text-align : center;

}

.sep-congrats span {
	color: #908888 !important;
	margin-top: -20px;
}
.sep-congrats hr {
	border-top-color: #908888;
	margin-bottom: 0;
}

.input-print {
	border     : none;
	background : transparent;
	text-align : center;
	margin-bottom: -18px;
}

.car {
	margin-top: 20px;
}

.car-details-congrats {
	width: 500px;
}

.car-details-congrats p, h2 {
	color: #FFF !important;
}
