/*Settings*/
body {
	font-family : avenir;
}

.settings {
	height              : 100%;
	min-width           : 1440px;
	min-height          : 601px;
	background-color    : #ffcc00;
	background          : url('../images/settings/shadows.png');
	background-size     : auto auto;
	background-position : center center;
	position            : absolute;
}
.settings > .header {
    height          : 114px;
    background      : url( '../images/header-bg.png' );
    background-size : auto 100%;
    text-align      : center;
}

.settings-form-control {
		max-width : 569px;
		padding   : 15px;
		margin    : 70px auto 0 auto;
}

.save-button {
	background-color : #93C349;
	color            : white;
	font-size        : 20px;
}

.margin-bottom {
	margin-bottom : 11px;
}

.current-pass {
	margin-bottom : 30px;
}

.span {
	font-size : 18px;
}

hr {
	margin-top   : -3px;
	margin-right : 15px;
}

h3 {
	margin-bottom : 35px;
	font-weight   : 600;
}

h4 {
	display : inline;
}

label {
	font-weight : normal;
}

.urbano-settings {
	position : absolute;
	top      : 302px;
	left     : 1047px;
}

.urbano-settings img {
	width : 143px;
}
