html, body {
    height     : 100%;
    min-height : 600px;
    min-width  : 1440px;
}

#carousel, .carousel, #customizer, .customizer {
    height : 100%;
}

/* CAROUSEL HEADER */
.carousel > .header, .customizer > .header {
    height          : 114px;
    background      : url( '../images/HEADER.png' );
    background-size : 1361px 134px;
    text-align      : center;
}

.header > .honda-logo, .header > .kidzania-logo {
    height  : 90%;
    padding : 22px 60px;
}

.honda-logo > img {
    height : 60px;
}

.header > .header-title {
    font-size   : 40px;
    color       : #ffffff;
    padding-top : 20px;
}

/* FOOTER */
.carousel > .footer, .customizer > .footer {
    height           : 87px;
    background       : url( '../images/footer-bg.png' );
    background-size  : auto 100%;
}

.footer > .btn-green {
	width           : 300px;
	height          : 100%;
	background      : url( '../images/button-bg.png' );
	background-size : auto 100%;
	z-index         : 10;
	border-left     : 2px solid #006400;
	text-align      : center;
	cursor          : pointer;
}

.btn-green > p {
	padding-top : 20px;
	font-size   : 32px;
	color       : #404040;
}

.btn-green > p:hover {
	color : #800000;
}

.customizer-selector {
    position : relative;
}

.selection-indicator {
    color       : green;
    position    : absolute;
    top         : 5px;
    left        : 5px;
    z-index     : 10;
    text-shadow : 2px 2px 2px black;
}

img.flipped {
    -moz-transform    : scaleX(-1);
    -o-transform      : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform         : scaleX(-1);
    filter            : FlipH;
    -ms-filter        : "FlipH";
}
