<div class="customizer-container jazz-div-car-color pull-left">
    <p class="customizer-title">CAR PAINT</p>
    <p class="customizer-info">Select a color for your car.</p>
    <div class="jazz-customizer-color-1 customizer-item-3 pull-left"><img src="../images/assets/jazz/buttons/color/1.png" alt="Attract Yellow Pearl" width="110">
        <p>Attract Yellow Pearl</p>
    </div>
    <div class="jazz-customizer-color-2 customizer-item-3 pull-left"><img src="../images/assets/jazz/buttons/color/2.png" alt="Taffeta White" width="110">
        <p>Tafetta White</p>
    </div>
    <div class="jazz-customizer-color-3 customizer-item-3 customizer-item-last pull-left"><img src="../images/assets/jazz/buttons/color/3.png" alt="Alabaster Silver" width="110">
        <p>Alabaster Silver</p>
    </div>
    <div class="jazz-customizer-color-4 customizer-item-3 pull-left"><img src="../images/assets/jazz/buttons/color/4.png" alt="Vivid Sky Blue" width="110">
        <p>Vivid Sky Blue</p>
    </div>
    <div class="jazz-customizer-color-5 customizer-item-3 pull-left"><img src="../images/assets/jazz/buttons/color/5.png" alt="Rally Red" width="110">
        <p>Rally Red</p>
    </div>
    <div class="jazz-customizer-color-6 customizer-item-3 customizer-item-last pull-left"><img src="../images/assets/jazz/buttons/color/6.png" alt="Modern Steel" width="110">
        <p>Modern Steel</p>
    </div>
</div>
<div class="customizer-container jazz-div-car-tint pull-left">
    <p class="customizer-title">CAR TINT</p>
    <p class="customizer-info">Select the tint for your car.</p>
    <div class="jazz-customizer-tint-1 customizer-item-1 pull-left">
        <img src="../images/assets/jazz/buttons/tint/1.png" alt="Dark Black" width="300">
        <p>Dark Black</p>
    </div>
    <div class="jazz-customizer-tint-2 customizer-item-1 pull-left customizer-item-last">
        <img src="../images/assets/jazz/buttons/tint/2.png" alt="Transparent" width="300">
        <p>Transparent</p>
    </div>
</div>
<div class="customizer-container jazz-div-car-decal pull-left">
    <p class="customizer-title">DECALS</p>
    <p class="customizer-info">Select a decal for your car.</p>
    <div class="jazz-customizer-decal-1 customizer-item-auto pull-left">
        <img src="../images/assets/jazz/buttons/decal/1.png" alt="Dino" height="110">
        <p>Dino</p>
    </div>
    <div class="jazz-customizer-decal-2 customizer-item-auto pull-left">
        <img src="../images/assets/jazz/buttons/decal/2.png" alt="Monsters" height="110">
        <p>Monsters</p>
    </div>
    <div class="jazz-customizer-decal-3 customizer-item-auto customizer-item-last pull-left"><img src="../images/assets/jazz/buttons/decal/3.png" alt="Pony" height="110">
        <p>Pony</p>
    </div>
</div>
<div class="customizer-container jazz-div-car-rims pull-left">
    <p class="customizer-title">RIMS</p>
    <p class="customizer-info">Select a rim for your car.</p>
    <div class="jazz-customizer-rim-1 customizer-item-3 pull-left">
        <img src="../images/assets/jazz/buttons/rims/1.png" alt="Rim 1" width="100">
        <p>Rim 1</p>
    </div>
    <div class="jazz-customizer-rim-2 customizer-item-3 pull-left">
        <img src="../images/assets/jazz/buttons/rims/2.png" alt="Rim 2" width="100">
        <p>Rim 2</p>
    </div>
    <div class="jazz-customizer-rim-3 customizer-item-3 customizer-item-last pull-left">
        <img src="../images/assets/jazz/buttons/rims/3.png" alt="Rim 3" width="100">
        <p>Rim 3</p>
    </div>
    <div class="jazz-customizer-rim-4 customizer-item-3 pull-left">
        <img src="../images/assets/jazz/buttons/rims/4.png" alt="Rim 4" width="100">
        <p>Rim 4</p>
    </div>
    <div class="jazz-customizer-rim-5 customizer-item-3 pull-left">
        <img src="../images/assets/jazz/buttons/rims/5.png" alt="Rim 5" width="100">
        <p>Rim 5</p>
    </div>
    <div class="jazz-customizer-rim-6 customizer-item-3 customizer-item-last pull-left">
        <img src="../images/assets/jazz/buttons/rims/6.png" alt="Rim 6" width="100">
        <p>Rim 6</p>
    </div>
</div>
<div class="customizer-container jazz-div-car-body pull-left">
    <p class="customizer-title">BODY KITS</p>
    <p class="customizer-info">Select body kit one for each category.</p>
    <div class="jazz-customizer-grill-1 customizer-item-3-1 pull-left">
        <img src="../images/assets/jazz/buttons/grill/1.png" alt="Front &amp; Back Grill 1" width="110">
        <p>Front/Back Grill 1</p>
    </div>
    <div class="jazz-customizer-grill-2 customizer-item-3-1 pull-left">
        <img src="../images/assets/jazz/buttons/grill/2.png" alt="Front &amp; Back Grill 2" width="110">
        <p>Front/Back Grill 2</p>
    </div>
    <div class="jazz-customizer-grill-3 customizer-item-3-1 customizer-item-last pull-left"><img src="../images/assets/jazz/buttons/grill/3.png" alt="Front &amp; Back Grill 3" width="110">
        <p>Front/Back Grill 3</p>
    </div>
    <div class="jazz-customizer-skirt-1 customizer-item-3-1 pull-left">
        <img src="../images/assets/jazz/buttons/skirt/1.png" alt="Side Skirts 1" width="110">
        <p>Side Skirt 1</p>
    </div>
    <div class="jazz-customizer-skirt-2 customizer-item-3-1 pull-left">
        <img src="../images/assets/jazz/buttons/skirt/2.png" alt="Side Skirts 2" width="110">
        <p>Side Skirt 2</p>
    </div>
    <div class="jazz-customizer-skirt-3 customizer-item-3-1 pull-left"><img src="../images/assets/jazz/buttons/skirt/3.png" alt="Side Skirts 3" width="110">
        <p>Side Skirt 3</p>
    </div>
    <div class="jazz-customizer-spoiler-1 customizer-item-3-1 pull-left"><img src="../images/assets/jazz/buttons/spoiler/1.png" alt="Spoiler 1" width="110">
        <p>Spoiler 1</p>
    </div>
    <div class="jazz-customizer-spoiler-2 customizer-item-3-1 pull-left"><img src="../images/assets/jazz/buttons/spoiler/2.png" alt="Spoiler 2" width="110">
        <p>Spoiler 2</p>
    </div>
    <div class="jazz-customizer-spoiler-3 customizer-item-3-1 pull-left"><img src="../images/assets/jazz/buttons/spoiler/3.png" alt="Spoiler 3" width="110">
        <p>Spoiler 3</p>
    </div>
</div>
